/* General body styles */
body {
    font-family: 'Arial', sans-serif;
    background: url('/static/1.jpeg') no-repeat center center/cover;
    color: #ffffff;
    text-align: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 200px 0;
    background-color: #8A2BE2; /* Fallback for when image doesn't load */
    overflow-y: auto; /* 增加垂直滚动条 */
}

/* General form styles */
form:not(#commission-form) {
    background: rgba(0, 0, 0, 0.9);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    width: 90%;
    max-width: 300px;
}

input, select {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    font-size: 16px;
}

label {
    display: block;
    text-align: left;
    color: #fff;
    margin-bottom: 5px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 12px 0;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}

ul {
    list-style-type: none;
    padding: 10px;
    border-radius: 5px;
}

li {
    color: red; /* To highlight error messages */
    margin: 5px;
}

/* Responsive adjustments */
@media (max-width: 600px) {
    form {
        width: 90%;
        padding: 20px;
        margin: 20px;
    }
}

.container {
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Home page styles */
#home-container {
    background: rgba(0, 0, 0, 0.9);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    width: 90%;
    max-width: 300px;
    height: 700px;
    overflow-y: auto;
}

/* flight styles */
#flights-container {
    width: 100%;
    background: rgba(0, 0, 0, 0.9);
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    font-size: 16px;
    height: 500px;
    overflow-y: auto;
}

#commission-container {
    width: 100%;
    background: rgba(0, 0, 0, 0.9);
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    font-size: 16px;
    height: 500px;
    overflow-y: auto;
}

.flight {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.flight:last-child {
    border-bottom: none;
}