<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Flights</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="{{ url_for('static', filename='js/booking-agent-flights.js') }}"></script>
</head>
<body>
    {% extends "base.html" %}

    {% block title %}Booking Agenet Home{% endblock %}

    {% block content %}
    <div>
        <div id="home-container">
            <h3>Booking Agent Home</h3>
        </div>
    </div>
    {% endblock %}

</body>